body {
    background: seagreen;
}

.hide {
    display: none;
}

.card {
    float: left;
    width: 125px;
    height: 150px;
    border: 1px solid black;
    margin: 2px;
    position: relative;
    display: table;
}

.playing-card {
    background: white;
    text-align: center;
}

.SPADES {
    color: black;
}

.CLUBS {
    color: black;
}

.HEARTS {
    color: red;
}

.DIAMONDS {
    color: red;
}

.RED {
    background: red;
}

.GREEN {
    background: rgb(0, 255, 106);
}

.BLUE {
    background: blue;
}

.YELLOW {
    background: yellow;
}

.BLACK {
    background: black;
}

.upper-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 40px;
}

.lower-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 40px;
}

.center {
    font-size: 30px;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}